/* Error: This file is already being loaded.
 *   ,--> scss\componentes\_header.scss
 * 1 | @import "../componentes/_header.scss";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ new load
 *   '
 *   ,--> scss\style.scss
 * 1 | @import "./componentes/header";
 *   |         ====================== original load
 *   '
 *   scss\componentes\_header.scss 1:9  @import
 *   scss\style.scss 1:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a   \250c \2500 \2500 > scss\\componentes\\_header.scss\a 1 \2502  @import "../componentes/_header.scss";\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > scss\\style.scss\a 1 \2502  @import "./componentes/header";\d\a   \2502          \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   scss\\componentes\\_header.scss 1:9  @import\a   scss\\style.scss 1:9                root stylesheet';
}
